[workspace]
members = ["manifest", "bank", "audioware", "core"]
resolver = "2"

[workspace.package]
version = "1.0.0-rc.5"
edition = "2021"
rust-version = "1.80.1"

[profile.release]
lto = "thin"
strip = true
codegen-units = 1

[workspace.dependencies]
audioware-core = { path = "core" }
audioware-manifest = { path = "manifest" }
audioware-bank = { path = "bank" }
either = "1.13"
kira = { git = "https://github.com/Roms1383/kira", branch = "feat/expose-duration", features = ["serde"] }
rayon = "1.10"
red4ext-rs = { git = "https://github.com/jac3km4/red4ext-rs", rev = "d6b2976" }
# red4ext-rs-bindings = { git = "https://github.com/jac3km4/red4ext-rs-bindings", rev = "v0.3.0" }
serde = "1.0"
snafu = "0.8"
snowflake = "1.2"

[profile.dev.package.kira]
opt-level = 3

[profile.dev.package.cpal]
opt-level = 3

[profile.dev.package.symphonia]
opt-level = 3

[profile.dev.package.symphonia-bundle-mp3]
opt-level = 3

[profile.dev.package.symphonia-format-ogg]
opt-level = 3

[profile.dev.package.symphonia-codec-vorbis]
opt-level = 3

[profile.dev.package.symphonia-bundle-flac]
opt-level = 3

[profile.dev.package.symphonia-codec-pcm]
opt-level = 3
