[workspace]
members = ["audioware", "sys", "macros", "mem"]
resolver = "2"

[workspace.package]
version = "0.2.0"
edition = "2021"
rust-version = "1.75"

[profile.release]
lto = "thin"

[workspace.dependencies]
anyhow = "1"
audioware-macros = { path = "macros" }
audioware-mem = { path = "mem" }
audioware-sys = { path = "sys" }
cxx = "1"
fixed-map = { version = "0.9.3", features = ["serde"] }
glam = { version = "0.25.0", features = ["mint"] }
kira = "0.8.5"
lazy_static = "1.4.0"
memoffset = "0.9.0"
mint = "0.5.9"
red4ext-rs = { git = "https://github.com/jac3km4/red4ext-rs.git", rev = "2646318", features = ["macros"] }
retour = "0.3.1"
serde = { version = "1.0", features = ["derive"] }
static_assertions = "1.1.0"
strum = "0.26"
strum_macros = "0.26"
