[package]
name = "audioware"
version.workspace = true
edition.workspace = true
publish = false
description = "CP2077 modding tool: allows to play any audio file, without replacement"

[lib]
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
audioware-macros.workspace = true
audioware-mem.workspace = true
audioware-sys.workspace = true
anyhow.workspace = true
cxx.workspace = true
fixed-map.workspace = true
glam.workspace = true
kira.workspace = true
lazy_static.workspace = true
memoffset = "0.9.0"
red4ext-rs.workspace = true
retour.workspace = true
semver ={ version = "1", features = ["serde"] }
serde.workspace = true
serde_yaml = "0.9"
strum.workspace = true
strum_macros.workspace = true
ulid = "1.1.0"
validator = { version = "0.16", features = ["derive"] }
widestring = "1.0.2"
winapi = { version = "0.3.9", features = ["libloaderapi"] }
